// This is how you might override UIkit default variables
// $global-primary-background: #491165;
$global-primary-background: #222222;
// $fondo: #f7f7f7;
$fondo: #dadada;
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;


@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// @import "~uikit/src/scss/variables.scss";

// @import "~uikit/src/scss/mixins.scss";

// @import "~uikit/src/scss/uikit.scss";

$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.list-complete-item {
    transition: all 0.8s;
    //display: inline-block;
    margin-right: 0px;
    width: 20%;

}

.list-complete-enter,
.list-complete-leave-to {
    opacity: 0;
    //transform: translateY(10px);
    transition: all 0.8s;
    width: 20%;
}

.list-complete-leave-active {
    position: absolute;
    width: 20%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
    opacity: 0;
}


.list3-item {
    display: inline-block;
    margin-right: 10px;
    transition: all 1s;

}

.list3-enter-active,
.list3-leave-active {
    transition: all 1s;
}

.list3-enter,
.list3-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

.general_entrada {
    background: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    // margin: 20%;
    // padding: 20%;
}

.enlla {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 12%;
    margin-right: 12%;
}

.buttons2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF;
    padding: 0px 0px;
    width: 360px;
}

.container2 h1 {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
}

.container2 p {
    text-align: left;
    color: #444;
    // letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 0 0 2em;
}


.btn2 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 260px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn2:hover {
    text-decoration: none;
}

.effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: rgb(197, 151, 151);

}

.effect04::before,
.effect04 span {
    margin: 0 auto;
    vertical-align: middle;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}

.effect04:hover {

    background-color: rgb(66, 54, 54);
}

.effect04:hover span {
    -webkit-transform: translateX(-400%) scale(-0.1, 20);
    transform: translateX(-400%) scale(-0.1, 20);
}

//   .effect04:hover span img{
//     -webkit-transform: translateY(-400%) scale(-0.1,20);
//             transform: translateY(-400%) scale(-0.1,20);
//   }

.effect04::before {
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateX(500%) scale(-0.1, 20);
    transform: translateX(500%) scale(-0.1, 20);
}

.effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateX(0) scale(1, 1);
    transform: translateX(0) scale(1, 1);
}

.alineat {
    margin: 10px;
    margin-right: 5px;
}
